<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkf.ttshop.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.lkf.ttshop.pojo.po.Permission" >
    <id column="Id" property="id" jdbcType="DECIMAL" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="Level" property="level" jdbcType="DECIMAL" />
    <result column="ParentId" property="parentid" jdbcType="DECIMAL" />
    <result column="Type" property="type" jdbcType="CHAR" />
    <result column="Icon" property="icon" jdbcType="VARCHAR" />
    <result column="Deleted" property="deleted" jdbcType="CHAR" />
    <result column="OrderNum" property="ordernum" jdbcType="DECIMAL" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, Name, Url, Level, ParentId, Type, Icon, Deleted, OrderNum, Remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lkf.ttshop.pojo.po.PermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where Id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from permission
    where Id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.lkf.ttshop.pojo.po.PermissionExample" >
    delete from permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lkf.ttshop.pojo.po.Permission" >
    insert into permission (Id, Name, Url, 
      Level, ParentId, Type, 
      Icon, Deleted, OrderNum, 
      Remark)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{level,jdbcType=DECIMAL}, #{parentid,jdbcType=DECIMAL}, #{type,jdbcType=CHAR}, 
      #{icon,jdbcType=VARCHAR}, #{deleted,jdbcType=CHAR}, #{ordernum,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkf.ttshop.pojo.po.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="level != null" >
        Level,
      </if>
      <if test="parentid != null" >
        ParentId,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="icon != null" >
        Icon,
      </if>
      <if test="deleted != null" >
        Deleted,
      </if>
      <if test="ordernum != null" >
        OrderNum,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=CHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lkf.ttshop.pojo.po.PermissionExample" resultType="java.lang.Integer" >
    select count(*) from permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update permission
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        Url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        Level = #{record.level,jdbcType=DECIMAL},
      </if>
      <if test="record.parentid != null" >
        ParentId = #{record.parentid,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.icon != null" >
        Icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null" >
        Deleted = #{record.deleted,jdbcType=CHAR},
      </if>
      <if test="record.ordernum != null" >
        OrderNum = #{record.ordernum,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update permission
    set Id = #{record.id,jdbcType=DECIMAL},
      Name = #{record.name,jdbcType=VARCHAR},
      Url = #{record.url,jdbcType=VARCHAR},
      Level = #{record.level,jdbcType=DECIMAL},
      ParentId = #{record.parentid,jdbcType=DECIMAL},
      Type = #{record.type,jdbcType=CHAR},
      Icon = #{record.icon,jdbcType=VARCHAR},
      Deleted = #{record.deleted,jdbcType=CHAR},
      OrderNum = #{record.ordernum,jdbcType=DECIMAL},
      Remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkf.ttshop.pojo.po.Permission" >
    update permission
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        Url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        Level = #{level,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        ParentId = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=CHAR},
      </if>
      <if test="icon != null" >
        Icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        Deleted = #{deleted,jdbcType=CHAR},
      </if>
      <if test="ordernum != null" >
        OrderNum = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkf.ttshop.pojo.po.Permission" >
    update permission
    set Name = #{name,jdbcType=VARCHAR},
      Url = #{url,jdbcType=VARCHAR},
      Level = #{level,jdbcType=DECIMAL},
      ParentId = #{parentid,jdbcType=DECIMAL},
      Type = #{type,jdbcType=CHAR},
      Icon = #{icon,jdbcType=VARCHAR},
      Deleted = #{deleted,jdbcType=CHAR},
      OrderNum = #{ordernum,jdbcType=DECIMAL},
      Remark = #{remark,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>